@import 'variables';


.form__container {
  .form__title {
    padding: 5px 0;

    button {
      font-size: 16px;
    }
  }

  .form-item__container {
    display: flex;

    .form__item {
      width: 20%;
      display: flex;
      flex-direction: column;

      .item__title {
        background: $color_2;
        padding: 5px 0 5px 15px;
        color: #fafbf8;
        font-family: Roboto;
        font-size: 16px;

      }

      input {
        box-sizing: border-box;
        height: 28px;
        border: 1px solid;
      }
    }

    .form__item:last-child {
      .item__title {
        border-right: $color_2;
      }
    }
  }

  .form__buttons {
    display: flex;
    justify-content: flex-end;

    button {
      margin: 5px 0;
    }
  }
}

