@import 'variables';


@import 'form';
@import 'header';
@import 'pagination';
@import 'search';
@import 'selectedRow';
@import 'tableHeader';
@import 'tableRow';

html, #root, body, {
  height: 98%;
}

#root {
  display: flex;
  justify-content: center;
}
body {
  background: #249ace;
  font-family: Calluna;
  font-size: 16px;

}

.app__content {
  margin: 30px 0;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 1200px;
  display: flex;
  flex-direction: column;
  background: $color_3;

}

button:focus {
  outline: none;
}
button:active {
  color: $color_1;
}

.button {
  width: 150px;
  height: 35px;
  border: none;
  cursor: pointer;
  background: $color_2;
  color: $color_3;
  font-size: 20px;
  font-family: Roboto;
  &:hover {
    background: #e23e42;
  }
}

.button.disabled {
  background: rgba(62, 89, 119, 0.3);

}

.loader {
  display: flex;
  justify-content: center;
}