@import 'variables';


.pagination__container {
  background: #8fb8ca;
  color: $color_3;
  padding: 5px 0 0 10px;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-height: 30px;
  font-family: "Trebuchet MS";
  div {
    margin: 0 5px;
    cursor: pointer;
    &:hover {
      color: $color_1;
    }
  }
  .selected {
    color: $color_1;
  }
}