@import 'variables';
@import 'mixins';

.pagination__container {
  background: #2980b9;
  color: white;
  padding: 5px 0 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-height: 30px;
  div {
    margin: 0 5px;
    cursor: pointer;
    &:hover {
      color: gold;
    }
  }
}