@import 'variables';


.search__container {
  margin-top: 10px;
  display: flex;
  border: 1px solid #bdbdbd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  input {
    width: 88%;
    border: none;


  }
}