@import 'variables';


.info__container {
  margin-top: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #bdbdbd;

  div {
    padding: 5px 10px;
    background: $color_3;
    border-top: 1px solid white;
    color: black;
    font-family: Arial;
    border-bottom: 1px solid #9e9e9e;

    &:last-child {
      border-bottom: none;
    }

    strong {
      color: #2a2a2a;
    }
  }
}