@import 'variables';

.table__container {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #bdbdbd;

  .tr__container {
    display: flex;
    border-top: 1px solid $color_3;

    &:hover {
      outline: 3px solid $color_4;
      outline-offset: -2px;
    }

    &:nth-child(even) {
      div {
        background: $color_3;
      }
    }

    div {
      width: 20%;
      font-family: Arial;
      background: #d4d8c6;
      height: 25px;
      padding: 5px 0 0 10px;
      color: black;
      border-right: 1px solid $color_3;

      &:last-child {
        border-right: none;
      }
    }
  }

}


