@import 'variables';
@import 'mixins';

.th_container {
  display: flex;
  border-top: 1px solid white;
  div {
    width: 20%;
    background: #3e5977;
    height: 25px;
    padding: 5px 0 0 10px;
    color: white;
    border-right: 1px solid white;
    font-size: 18px;

    &:last-child {
      border-right: none;
    }
  }
}