@import 'variables';


.th_container {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-top: 1px solid white;
  background: #8fb8ca;

  div {
    font-weight: bold;
    width: 20%;
    height: 25px;
    padding: 5px 0 0 10px;
    border-right: 1px solid $color_3;

    &:last-child {
      border-right: none;
    }

    &:hover {
      color: $color_1;
      cursor: pointer;
    }
  }
}